@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --green: #00A300;
    --whiteish: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--whiteish);
    position: absolute;
    top: 50%;
    left: 0%;
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--green);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--whiteish);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--green);
}

.btn {
    background-color: var(--green);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--whiteish);
    cursor: not-allowed;
}

.basket {
    width: 60%;
}

.address {
    width: 100%;
}

.payment {
    width: 80%;
}

.confirmation {
    width: 70%;
}

@media screen and (min-width: 1000px) {
    .circle {
        width: 55px;
        height: 55px;
    }

    .progress-container {
        max-width: 100%;
        width: 400px;
    }

    .btn {
        padding: 8px 40px;
    }
}